@{
  Layout = "_Layout";
}
<div>
<h1>Welcome to Eau Claire's Salon database! </h1> 

<br>
<h3> This page gives access to your list of stylists and their clients.</h3>
</div>

<ul>
<li>@Html.ActionLink("Clients", "Index", "Clients")</li> 
<li>@Html.ActionLink("Stylists", "Index", "Stylists")</li>
</ul>
